/* Variable */
/* @couleur-contrast : contrast(@couleur-base);*/
/* pour le debuggage on met une bordure autour de chacun des éléments 

* {border: 1px solid #aaa;}
*/
.global {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.global:nth-child(even) section:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.5);
}
.global:nth-child(even) section:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.5);
}
.global:nth-child(even) section:nth-child(3) {
  background-color: rgba(0, 255, 0, 0.5);
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: fantasy;
  /*background-image: url("../images/bg.jpg");*/
}
html {
  height: 200%;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-origin: 50% 50%;
  background-repeat: none;
}
header,
footer {
  background-color: #000000;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  /* fin nav*/
}
header img {
  /* width : 352px; dimension de l'image */
  width: 100%;
}
header nav {
  /* fin ul*/
}
header nav ul {
  list-style-type: none;
  padding: 3px;
  /* fin li*/
}
header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px dotted #f9d42a;
}
header nav ul li:first-child {
  border-top: 1px dotted #f9d42a;
}
header nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 150%;
  padding: 3px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
header nav ul li i {
  color: #f9d42a;
  margin-left: 10px;
  margin-right: 10px;
}
header nav ul li a:hover {
  background-color: #aaa;
}
/* fin header  */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  /* border: 1px solid #aaa;*/
  font-size: 250px;
}
main section article img {
  display: block;
  width: 100%;
  height: 100%;
}
main section:nth-child(even) article:nth-child(1) {
  background-color: rgba(200, 0, 132, 0.7);
}
main section:nth-child(even) article:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.6);
}
main section:nth-child(even) article:nth-child(3) {
  background-color: rgba(255, 255, 0, 0.7);
}
main section:nth-child(even) article:nth-child(4) {
  background-color: rgba(0, 255, 0, 0.5);
}
main section:nth-child(even) article:nth-child(5) {
  background-color: rgba(200, 0, 132, 0.8);
}
main section:nth-child(odd) article:nth-child(1) {
  background-color: rgba(200, 10, 10, 0.2);
}
main section:nth-child(odd) article:nth-child(2) {
  background-color: rgba(160, 60, 60, 0.9);
}
main section:nth-child(odd) article:nth-child(3) {
  background-color: rgba(132, 64, 255, 0.8);
}
main section:nth-child(odd) article:nth-child(4) {
  background-color: rgba(0, 10, 10, 0.7);
}
main section:nth-child(odd) article:nth-child(5) {
  background-color: rgba(200, 10, 10, 0.3);
}
footer {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div {
  width: 30px;
}
footer div i {
  color: #f9d42a;
  -webkit-transition: color 1s;
  transition: color 1s;
}
footer div i:hover {
  color: #7f8ee3;
}
